/* Page Style */
.clear:after {
    display:block;
    content:"";
    width:100%;
    clear:both;
}

.w_1440 { display:none; }
.w_1024 { display:none; }
.w_768 { display:none; }
.w_425 { display:none; }
.w_375 { display:none; }
.w_320 { display:none; }

section.modal-group {
    display:none;

    float:left;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.6);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#80000000,endColorstr=#80000000);
    padding:1em;
    overflow-y: auto;
    z-index:1000;
}

section.modal-group .modal {
    display:none;
    overflow: visible;

    position:relative;
    width:52em;
    margin:0 auto;
    background-color:#FFFFFF;
    border-radius:3px;
    padding:1em 2em 2em 2em;
}
section.modal-group .modal .btn-close {
    width:2.5em;
    height:2.5em;
    padding:0.3em;

    position:absolute;
    top:0;
    right:-3.5em;
}
section.modal-group .modal .btn-close img { max-width:100%; width:100%; }
section.modal-group .modal .btn-close img:hover { cursor:pointer }

section.modal-group .modal .modify,
section.modal-group .modal .create { display:none; }
section.modal-group .modal.create .create,
section.modal-group .modal.modify .modify { display:block; }
section.modal-group .modal header.title { width:100%; padding-bottom:2em; }
section.modal-group .modal header.title h1 {
    width:100%;
    text-align:center;
    font-size:1.5em;
    font-weight:400;
    padding-bottom:0.5em;
}
section.modal-group .modal header.title p {
    width:100%;
    text-align:center;
}

section.modal-group .modal article.content { width:100%; padding-bottom:1em; font-size:0; }
section.modal-group .modal article.content .issue-text,
section.modal-group .modal article.content .issue-type {
    display:inline-block;
    width:24em;
    padding:0 1em 2em 1em;
    vertical-align:top;
}
section.modal-group .modal article.content .issue-text label,
section.modal-group .modal article.content .issue-type label{
    display:block;
    width:100%;
    font-weight:700;
    font-size:0.9em;
    padding-bottom:1em;
}
section.modal-group .modal article.content .issue-text input,
section.modal-group .modal article.content .issue-type .select_box {
    position:relative;
    display:block;
    width:100%;

    padding:1em;
    border:1px solid #e1e4e6;
    border-radius:3px;
}
section.modal-group .modal article.content .issue-type .select_box {
    display:inline-block;
    position:relative;
    background: url('../images/icn_arrow_down.png') 95% center no-repeat;

    /* ie8 compatibility patch */
    background-image:url('../images/icn_arrow_down_ie.png')\9;

    background-size:1.3em auto;
}
section.modal-group .modal article.content .issue-type .select_box:hover { cursor:pointer }
section.modal-group .modal article.content .issue-type .select_box label {
    width:100%;
    font-size:0.9em;
    font-weight:400;
    margin-bottom:0;
}
section.modal-group .modal article.content .issue-type .select_box label.type-imp {
    padding-left:2em;
    padding-bottom: 0;
    background-image:url('../images/icn_improvement.png');

    /* ie8 compatibility patch */
    background-image:url('../images/icn_improvement_ie.png')\9;

    background-size:1.15em 1.1em;
    background-repeat:no-repeat;
    background-position: 0 0.1em;
}
section.modal-group .modal article.content .issue-type .select_box label.type-def {
    padding-left:2em;
    padding-bottom: 0;
    background-image:url('../images/icn_defect.png');

    /* ie8 compatibility patch */
    background-image:url('../images/icn_defect_ie.png')\9;

    background-size:1.15em 1.1em;
    background-repeat:no-repeat;
    background-position: 0 0.1em;
}

section.modal-group .modal article.content .issue-type .select_box select {
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height:6em;
    font-size:0.5em;
    padding: 0 1em;
    opacity: 0;
    filter: alpha(opacity=0);
}
section.modal-group .modal article.content .issue-type .select_box select option { font-size:1.8em; }
section.modal-group .modal article.content .issue-type .select_box select:hover { cursor:pointer }

/* safari compatibility patch */
::i-block-chrome, section.modal-group .modal article.content .issue-type .select_box select {
    font-size:1em;
    top:1em;
}

section.modal-group .modal footer.submit { width:100%; padding-bottom:1em; }
section.modal-group .modal footer.submit button { width:100%; }

header#header {
    width:100%;
    height:auto;

    padding:1em 1.2em 0.8em 1.2em;
    border-bottom:1px solid #ced3d6;

    position:relative;
}

header#header .layout-left {
    display:inline-block;
    float:left;
}
header#header .layout-left .brand-logo {
    font-size:0.85em;
    padding-bottom:0.1em;
}
header#header .layout-left .page-title {
    font-size:1.45em;
    padding-bottom:0.6em;
}
header#header .layout-left .quick-filters {
    font-size:0;
}
header#header .layout-left .quick-filters label {
    font-weight: bold;
    font-size:1.25rem;
    vertical-align:top;
    padding-right:1em;
    margin:0;
}
header#header .layout-left .quick-filters ul {
    display:inline-block;
    vertical-align:top;
    margin-top:-0.05em;
}
header#header .layout-left .quick-filters ul li {
    display:inline-block;
    vertical-align:top;
    font-size:1.4rem;
    padding-left:0.5em;
    padding-right:0.5em;
}
header#header .layout-left .quick-filters ul li:hover { cursor:pointer; }
header#header .layout-left .quick-filters ul li.selected { color:#2c5ae9; }

header .layout-right {
    position:absolute;
    bottom:1.1em;
    right:1.2em;
}

section#article {
    height:100%;
    font-size:0;
}
section#article section.grid {
    width:25%;
    height:100%;
    display:inline-block;

    padding:1em 1em 3em 1em;
    vertical-align: top;
}

/* safari compatibility patch */
::i-block-chrome, section#article section.grid {
    width:24.6%;
}

section#article section.grid header.grid-head {
    position:relative;
    width:100%;
    padding-bottom:1em;
}
section#article section.grid header.grid-head span.count {
    font-weight:700;
    font-size:0.85em;
}
section#article section.grid header.grid-head label {
    display:inline;
    font-size:0.85em;
    font-weight:400;
    padding-left:0.5em;
    overflow:hidden;
    text-overflow:ellipsis;
}
section#article section.grid header.grid-head img {
    position:absolute;
    cursor:pointer;
    height:0.85em;
    top:0.3em;
    right:0.15em;
}

section#article section.grid article.grid-body {
    position:relative;
    width:100%;
    height:95%;
    height:calc(100% - 2em);
    background-color:#f8fafb;
}

section#article section.grid article.grid-body ul.card-group {
    width:100%;
    height:100%;
    font-size:0;
    overflow-y:auto;
}
section#article section.grid article.grid-body ul.card-group::-webkit-scrollbar
{
    width: 0;
    background-color: #F5F5F5;
}
section#article section.grid article.grid-body ul.card-group li.card {
    display:inline-block;
    position:relative;
    background-color:#FFFFFF;
    width:100%;
    height:auto;

    min-height: 5em;
    margin-bottom:0.2em;
    border:1px solid #e1e4e6;
    border-radius:3px;

    overflow-x:hidden;

    -webkit-box-shadow: 0 1px 32px -18px rgba(0,0,0,0.64);
    -moz-box-shadow: 0 1px 32px -18px rgba(0,0,0,0.64);
    box-shadow: 0 1px 32px -18px rgba(0,0,0,0.64);
}
section#article section.grid article.grid-body ul.card-group li.card:last-child {
    margin-bottom:0;
}
section#article section.grid article.grid-body:after {
    position:absolute;
    bottom:0;

    content:"";
    display:block;
    width:100%;
    height:10px;

    -webkit-box-shadow: inset 0 -34px 24px -44px rgba(0,0,0,0.45);
    -moz-box-shadow: inset 0 -34px 24px -44px rgba(0,0,0,0.45);
    box-shadow: inset 0 -34px 24px -44px rgba(0,0,0,0.45);
}
section#article section.grid article.grid-body ul.card-group li.card section.btn-group {
    cursor:move;
    position:absolute;
    top:0;
    left:0;
    width:2.5em;
    padding:0.9em 0.8em;
    z-index:2;
}
section#article section.grid article.grid-body ul.card-group li.card section.btn-group:active { padding:0.8em 0.7em; }
section#article section.grid article.grid-body ul.card-group li.card section.btn-group img {
    max-width:100%;
    width:100%;
    vertical-align: top;
}
section#article section.grid article.grid-body ul.card-group li.card:hover section.btn-group img {
    -ms-transform: rotate(360deg); /* IE 9 */
    -webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
    transform: rotate(360deg);
    -webkit-transition-duration:0.6s;
    transition-duration:0.6s;
}
section#article section.grid article.grid-body ul.card-group li.card section.info {
    cursor:pointer;
    position:relative;
    padding:0.8em 0.8em 1.5em 2.5em;
}
section#article section.grid article.grid-body ul.card-group li.card section.info .btn-remove {
    display:none;
    position:absolute;
    top:0.5em;
    right:0.5em;

    width:1em;
    height:1em;
}
section#article section.grid article.grid-body ul.card-group li.card:hover section.info .btn-remove { display:block; }
section#article section.grid article.grid-body ul.card-group li.card section.info .btn-remove img { max-width:100%; width:100%; vertical-align:top; }
section#article section.grid article.grid-body ul.card-group li.card section.info .btn-remove:hover img { cursor:pointer; }
section#article section.grid article.grid-body ul.card-group li.card section.info .title { font-size:0.8em; padding-bottom:0.3em; }
section#article section.grid article.grid-body ul.card-group li.card section.info .content { font-size:0.8em; }
section#article section.grid article.grid-body ul.card-group li.card section.info .reg {
    position:absolute;
    bottom:0.8em;
    right:0.8em;
    font-size:0.5em;
    color:#a9afb3;
}

aside#aside {
    background-color:#FFFFFF;
    position:fixed;
    top:0;
    right:-100%;
    width:100%;
    height:100%;

    -webkit-box-shadow: -2px 0px 1px 0px rgba(0,0,0,0.17);
    -moz-box-shadow: -2px 0px 1px 0px rgba(0,0,0,0.17);
    box-shadow: -2px 0px 1px 0px rgba(0,0,0,0.17);

    z-index:9;
}
aside#aside section.btn-settings.unfold {
    position:relative;
    width:3em;
    height:3em;

    padding:0.5em;

    margin-bottom:-3em;
    top:0;
    left:-3.5em;
}
aside#aside section.btn-settings img { max-width:100%; width:100%; cursor:pointer; }
aside#aside header {
    position:relative;
    padding:2.3em;
    background-color:#4c80f1;
}
aside#aside header .brand-logo {
    font-size:0.85em;
    padding-bottom:0.1em;
    color:#f8fafb;
}
aside#aside header .page-title {
    font-size:1.45em;
    color:#FFFFFF;
}
aside#aside header .btn-settings.fold {
    position:absolute;
    top:2.9em;
    right: 2.3em;
    width:2em;
    height: 2em;
}
aside#aside header .btn-settings.fold img { max-width:100%; width:100%; cursor:pointer; }
aside#aside article {
    position:relative;
    padding:2.3em;
}
aside#aside article ul.settings { list-style:none; padding-bottom:3em; }
aside#aside article ul.settings li.setting {
    margin:0;
    padding:0 0 2em 0;
}
aside#aside article ul.settings li.setting h1 {
    margin:0;
    font-size:1.5em;
    font-weight:700;
}
aside#aside article ul.settings li.setting .values {
    display:inline-block;
    height:3em;
    margin:0;
    padding:0.8em 0;
}
aside#aside article ul.settings li.setting.AUTO_BACKUP_TIME .values {
    height:auto;
}
aside#aside article ul.settings li.setting .values label {
    vertical-align:top;
    font-size:1.05em;
}
aside#aside article ul.settings li.setting .values img {
    padding-left:0.3em;
    padding-right:0.3em;

    cursor:pointer;

    vertical-align:top;
    max-width:100%;
    height:100%;
}
aside#aside article ul.settings li.setting .values input {
    padding:1em;

    border:1px solid #e1e4e6;
    border-radius:3px;
}
aside#aside article ul.settings li.setting .values input ~ label {
    vertical-align:middle;
    font-size:1em;
    padding-top:0.5em;
    padding-left:0.5em;
}
aside#aside article ul.settings li.setting.ARCHIVE .values { padding-top:1.3em; height:auto; }
aside#aside article ul.settings li.setting.ARCHIVE .values .spoqa-btn {
    margin-right:1em;
    margin-bottom:1em;
}
aside#aside article ul.settings li.setting.ARCHIVE .values input[type=file][name=archive] { display:none; }


@media only screen and (max-width:1440px ) {
    .w_1440 { display:block; }
    .w_1440_h { display:none; }
}

@media only screen and (max-width:1024px ) {
    .w_1024 { display:block; }
    .w_1024_h { display:none; }

    section.modal-group .modal .btn-close {
        width:2em;
        height:2em;
        padding:0;

        top:0.8em;
        right:0.8em;
    }
}

@media only screen and (max-width:940px ) {
    section.modal-group .modal {
        width:100%;
        max-width:28em;
    }
    section#article section.grid {
        width:50%;
        height:50%;
    }
    /* safari compatibility patch */
    ::i-block-chrome, section#article section.grid {
        width:49.5%;
    }
}

@media only screen and (max-width:768px ) {
    * {	font-size:12pt; }
    .w_768 { display:block; }
    .w_768_h { display:none; }

    section.modal-group .modal article.content .issue-text,
    section.modal-group .modal article.content .issue-type{
        width:100%;
        overflow:hidden;
        padding-left:0;
        padding-right:0;
    }

    section#article section.grid article.grid-body ul.card-group li.card section.info .btn-remove {
        width:0.9em;
        height:0.9em;
    }
    section#article section.grid { padding-bottom:1.2em; }
    header#header .layout-left {
        display:block;
        width:100%;
    }
    header#header .layout-right {
        position:static;
        width:100%;
        font-size:0;
    }
    header#header .layout-right .spoqa-btn {
        font-size:1rem;
        display:inline-block;
        width:49.2%;
        margin-left:0.2%;
        margin-right:0.2%;
        margin-bottom:0.5em;
    }
}

@media only screen and (max-width:425px ) {
    * {	font-size:11pt; }
    .w_425 { display:block; }
    .w_425_h { display:none; }

    aside#aside article ul.settings { padding-bottom:1em; }
    aside#aside article .spoqa-btn {
        float:none;
        padding-left:0;
        padding-right:0;
        width:100%;
    }
    aside#aside section.btn-settings.unfold {
        width: 4em;
        height: 4em;
        padding: 1em;

        margin-bottom:-4em;
        left:-4em;
    }
    header#header .layout-right .spoqa-btn {
         display:block;
         width:100%;
         margin-left:0;
         margin-right:0;
         margin-bottom:0.5em;
     }
}

@media only screen and (max-width:375px ) {
    * {	font-size:10pt; }
    .w_375 { display:block; }
    .w_375_h { display:none; }

    aside#aside article ul.settings li.setting.ARCHIVE .values { width:100%; }
    aside#aside article ul.settings li.setting .values .spoqa-btn {
        width:100%;
        margin-right:0;
        margin-bottom:1em;
    }
}

@media only screen and (max-width:320px ) {
    * {	font-size:9pt; }
    .w_320 { display:block; }
    .w_320_h { display:none; }

    header#header { padding-top:2.5em; padding-bottom:1.2em; }
    header#header .layout-left .brand-logo { text-align:center; font-size:1.2em; }
    header#header .layout-left .page-title { text-align:center; font-size:2.4em; padding-bottom:1em; }
    header#header .layout-left .quick-filters { text-align: center; }
    header#header .layout-left .quick-filters label { margin:0; padding-bottom:0.3em; }

    section#article section.grid header.grid-head { padding-bottom: 0.8em; }
    section#article section.grid header.grid-head span.count { font-size:1em; }
    section#article section.grid header.grid-head label { font-size:1em; }
}

